/*****************************
*********** 버튼 **********/
.btn_add-more {
	width: 60px;
	height: 30px;
	border-radius: 30px;
	border: 1px solid #dddddd;
	background: none;
	float: right;
	cursor: pointer;
	font-size: 12px;
	font-weight: 400;
}

.btn_tab {
	width: 49%;
	height: 50px;
	border: none;
	border-bottom: 1px solid rgb(90, 74, 227);
	background: none;
	cursor: pointer;
	font-size: 14px;
	font-weight: 400;
	color: #222;
}

.active {
	border-radius: 15px 15px 0 0;
	background-color: rgb(90, 74, 227);
	color: white;
	font-weight: 500;
	font-size: 16px;
}

.btn_play {
	width: 45px;
	height: 45px;
	border: 1px solid white;
	background: none; border-radius : 30px;
	cursor: pointer;
	border-radius: 30px; cursor : pointer;
	color: white;
}

.btn_play .bi-play-fill {
	color: white;
}
.btn_play:hover {
	background-color: white;
}
.btn_play:hover .bi-play-fill {
	color: rgb(90, 74, 227);
}

.btn_arrow {
	width: 45px;
	height: 45px;
	background-color: white;
	border: none;
	border-radius: 30px;
	cursor: pointer;
	color: #222;
}

.btn_arrow:hover {
	box-shadow: 2px 2px 8px 0 rgb(0 0 0/ 20%);
}

.btn_movie-detail {
	width: 100px;
	height: 40px;
	border-radius: 30px;
	border: none;
	background-color: white;
	cursor: pointer;
	border-radius: 30px;
	font-size: 14px;
	font-weight: 400;
}

.btn_movie-detail:hover {
	background-color: rgba(255, 255, 255, 0.8);
}

.btn_movie-ticketing {
	width: 100px;
	height: 40px;
	border-radius: 30px;
	border: none;
	background-color: rgb(90, 74, 227);
	color: white;
	cursor: pointer;
	font-size: 14px;
	font-weight: 400;
}

.btn_movie-ticketing:hover {
	background-color: rgba(90, 74, 227, 0.8);
}

.btn_event {
	width: 140px;
	height: 40px;
	border-radius: 30px;
	background-color: rgb(90, 74, 227);
	color: white;
	border: none;
	cursor: pointer;
	margin-top: 35px;
	font-size: 14px;
	font-weight: 400;
}