/*****************************
*********** 헤더 영역 **********/
.header {
	border-bottom: 1px solid #ddd;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 80px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 200;
	background-color: white;
}

.head {
	width: 1200px;
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header-logo {
	margin-left: 190px;
}

.header-member {
	width: 280px;
	display: flex;
	justify-content: flex-end;
}

.header-member a {
	padding: 8px 13px;
}

.header-member a:hover {
	color: rgb(90, 74, 227);
	font-weight: 700;
}

.welcome-text {
	color: rgb(90, 74, 227);
	font-weight: 700;
}

/*****************************
*********** 네비 영역 **********/
.navigation {
	border-bottom: 2px solid rgb(90, 74, 227);
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 81px;
	left: 0;
	right: 0;
	z-index: 200;
	background-color: white;
}

.nav {
	width: 1200px;
	height: 50px;
	z-index: 100;
}

.nav ul {
	overflow: auto;
}

.nav li {
	float: left;
	width: 240px;
}

.nav li a {
	display: block;
	line-height: 50px;
	text-align: center;
	color: #222;
}

.nav li:hover .txt-md, .nav ul li:hover a {
	font-weight: 700;
	color: rgb(90, 74, 227);
}

.nav li ul {
	background-color: white;
	display: none;
	border-top: 2px solid rgb(90, 74, 227);
	width: 240px;
}

.nav li:hover ul {
	display: block;
}

.nav li ul a:hover, .nav li ul li:hover a:after {
	font-size: 16px;
	content: '•';
	margin-left: 10px;
}