
/****** 배너 *********/
.banner {
	background-color: black;
	font-family: 'Noto Sans KR', sans-serif;
	padding: 0 300px;
	height: 500px;
	text-align: center;
}

.banner_inner {
	height: 100%;
}

.banner_content {
	align-content: center;
	justify-content: center;
	
}

.banner-title {
	color: white;
	font-size: 36px;
	font-weight: 700;

}

.banner-text {
	color: white;
	font-size: 20px;
	margin-top: 30px;
	line-height: 25px;

}

/****** 메인 *********/
.main {
	padding: 0 300px;
	font-family: 'Noto Sans KR', sans-serif;
}

.add-more_btn {
	width: 60px;
	height: 30px;
	border-radius: 30px;
	border: 1px solid #dddddd;
	background: none;
	float: right;
	cursor: pointer;
	font-size: 12px;
}

.title {
	display: inline-block;
}

.main_movie-chart {
	margin-top: 100px;
}

.movie-chart_content {
	margin-top: 30px;
	display: flex;
	justify-content: space-between;
}

.movie-card {
	width: 200px;
	height: 280px;
	background-color: lightgray;
/* 	margin-right: 30px; */
	border-radius: 15px;
}

.main_event {
	margin-top: 100px;
}

.main_news {
	margin-top: 100px;
}

.news_content {
	margin-top: 30px;
	cursor: pointer;
	overflow: auto;
}

.content_notice {
	float: left;
	width: 480px;
	height: 60px;
	border-radius: 14px;
	background-color: rgb(90, 74, 227);
	border: 1px solid rgb(90, 74, 227);
	padding: 0 25px;
}

.notice_title {
	display: inline-block;
	margin-top: 20px;
	color: white;
}

.notice_content {
	display: inline-block;
	color: white;
}

.notice_content:before {
	content: ' ';
	margin: 0 20px;
}

.content_service-center {
	float: right;
	width: 480px;
	height: 60px;
	border-radius: 14px;
	border: 1px solid rgb(90, 74, 227);
	padding: 0 25px;
}

.service-center_title {
	display: inline-block;
	margin-top: 20px;
	color: rgb(90, 74, 227);
}

.service-center_content {
	display: inline-block;
	color: rgb(90, 74, 227);
}

.service-center_content:before {
	content: ' ';
	margin: 0 30px;
}