/*****************************
*********** 배너 영역 **********/
.movie-detail_banner {
	margin-top: 122px;
	height: 350px;
	background-color: black;
	display: flex;
	justify-content: center;
}

.banner-slide:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(to right, #000 0%, rgba(0, 0, 0, 0.25)
		25%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.25) 75%, #000 100%);
	z-index: 1;
}

.banner-slide {
	display: flex;
	width: 580px;
	height: 100%;
	overflow: hidden;
	justify-content: space-between;
}

.banner-slide img {
	width: 100%;
	height: 100%;
}

/*****************************
*********** 메인 영역 **********/
.movie-detail {
	display: flex;
	align-items: center;
	justify-content: center;
}

.movie-detail_in {
	width: 1100px;
	margin-top: 60px;
}

/*****************************
*********** 상단 영역 **********/
.detail-top {
	padding-left: 320px;
	padding-bottom: 40px;
	position: relative;
}

/*********** 영화 포스터 **********/
.movie-poster {
	width: 260px;
	height: 400px;
	border-radius: 15px;
	position: absolute;
	left: 0;
	top: -130px;
	box-shadow: 5px 5px 10px 0 rgb(0 0 0/ 40%);
}

.movie-poster img {
	width: 100%;
	height: 100%;
	border-radius: 15px;
}

/*********** 영화 정보 **********/
.movie-info {
	display: flex;
	flex-direction: column;
	height: 230px;
	justify-content: space-between;
}

.movie-info_title {
	display: flex;
	height: 50px;
	flex-direction: column;
	justify-content: space-between;
}

.movie-info strong {
	padding: 8px;
}

.movie-info button {
	position: absolute;
	right: 0;
}

.movie-info button:hover {
	border: 1px solid rgb(90, 74, 227);
}

.movie-info button ~button {
	position: absolute;
	top: 50px;
	right: 0;
}

.movie-info_detail1 {
	display: flex;
	height: 50px;
	border-bottom: 1px solid #ddd;
}

.movie-info_detail1 li:first-child strong:before {
	content: url("/resources/img/star-fill.svg");
	padding-right: 5px;
}

.movie-info_detail1 li:after {
	content: '';
	margin: 0 10px;
}

.movie-info_detail2 {
	display: flex;
	height: 70px;
	flex-direction: column;
	justify-content: space-between;
}

/*****************************
*********** 하단 영역 **********/
.detail-bottom {
	margin-top: 100px;
}

.movie-tab_info {
	margin-top: 70px;
	display: flex;
	flex-direction: column;
}

.info_titile {
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
}

.synopsis-text {
	height: 120px;
	overflow: scroll;
	line-height: 17px;
}

/*********** 시놉시스 영역 **********/

/*********** 트레일러 영역 **********/
.trailer-slide {
	width: 1100px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	overflow: hidden;
	position: relative;
}

.trailer-slide_box {
	width: 940px;
	display: flex;
	justify-content: space-between;
	overflow: overlay;
	align-items: center;
}

.trailer-card {
	width: 296px;
	height: 200px;
	border-radius: 15px;
	display: flex;
	cursor: pointer;
}

.trailer-card img {
	width: 100%;
	height: 100%;
	border-radius: 15px;
}

.trailer_btn {
	width: 296px;
	height: 200px;
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 15px;
	display: flex;
	position: absolute;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.trailer-info {
	width: 296px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}

/*********** 스틸컷 영역 **********/
.still-cut-slide {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.still-cut_btn {
	display: flex;
	height: 100px;
	flex-direction: column;
	justify-content: space-between;
}

.still-cut_view-slide_box {
	width: 800px;
	height: 500px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	overflow: overlay;
}

.still-cut_thumb-slide_box {
	width: 160px;
	height: 500px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	overflow: overlay;
}

.view-card {
	width: 800px;
	height: 500px;
	border-radius: 15px;
	cursor: pointer;
}

.view-card img {
	width: 100%;
	height: 100%;
	border-radius: 15px;
}

.thumb-card {
	width: 160px;
	height: 100px;
	border-radius: 15px;
	cursor: pointer;
	background-color: #fff;
}

.thumb-card img {
	width: 100%;
	height: 100%;
	border-radius: 15px;
	opacity: 0.75;
}

.thumb-list-box .slick-list {
	height: 500px;
}

.slick-vertical .slick-slide {
	height: 100px;
	border: none;
}