/*****************************
*********** 배너 영역 **********/
.movie-detail_banner {
	margin-top: 122px;
	height: 350px;
	background-color: black;
	display: flex;
	justify-content: center;
}

.banner-slide:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(to right, #000 0%, rgba(0, 0, 0, 0.25)
		25%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.25) 75%, #000 100%);
	z-index: 1;
}

.banner-slide {
	display: flex;
	width: 580px;
	height: 100%;
	overflow: hidden;
	justify-content: space-between;
}

.banner-slide img {
	width: 100%;
	height: 100%;
}

/*****************************
*********** 메인 영역 **********/
.movie-detail_main {
	width: 1100px;
	margin: 60px auto 0;
}

/*****************************
*********** 상단 영역 **********/
.detail-top {
	padding-left: 320px;
	position: relative;
}

.movie-poster {
	width: 260px;
	height: 400px;
	background-color: lightgray;
	border-radius: 15px;
	position: absolute;
	display: block;
	left: 0;
	top: -130px;
}

.movie-poster img {
	width: 100%;
	height: 100%;
	border-radius: 15px;
	display: inline-block;
}

.movie-info_title {
	margin-bottom: 30px;
}

.movie-info_title span {
	display: block;
}

.title-eng {
	margin-top: 6px;
}

.movie-info strong {
	padding-left: 10px;
}

.movie-info button {
	float: right;
}

.movie-info_detail1 {
	overflow: auto;
	margin-bottom: 30px;
	padding-bottom: 30px;
	border-bottom: 1px solid #ddd;
}

.movie-info_detail1 li {
	float: left;
}

.movie-info_detail1 li:after {
	content: '';
	margin: 0 30px;
}

.movie-info_detail2 {
	width: 600px;
	display: inline-block;
}

.movie-info_detail2 li {
	margin-bottom: 15px;
	color: #222;
	line-height: 17px;
}

/*****************************
*********** 하단 영역 **********/
.detail-bottom {
	margin-top: 100px;
}

.movie-tab_info {
	margin-top: 70px;
}

.info_titile {
	margin-bottom: 30px;
	display: block;
}

.info_text {
	line-height: 18px;
	text-overflow: ellipsis;
}

/*********** 시놉시스 영역 **********/

/*********** 트레일러 영역 **********/
.trailer-slide {
	width: 1100px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	overflow: hidden;
	position: relative;
}

.trailer-slide_box {
	width: 940px;
	height: 230px;
	display: flex;
	justify-content: space-between;
	overflow: overlay;
	align-items: center;
}

.trailer-card {
	width: 296px;
	height: 200px;
	background-color: #ddd;
	border-radius: 15px;
	display: flex;
}

.trailer-card img {
	width: 100%;
	height: 100%;
	border-radius: 15px;
}

.trailer_btn {
	width: 296px;
	height: 200px;
	background-color: rgba(0, 0, 0, 0.4);
	border-radius: 15px;
	display: flex;
	position: absolute;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.trailer-info {
	width: 296px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}

/*********** 스틸컷 영역 **********/
.still-cut-slide {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.still-cut_btn {
	display: flex;
	height: 100px;
	flex-direction: column;
	justify-content: space-between;
}

.still-cut_view-slide_box {
	width: 800px;
	height: 500px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	overflow: overlay;
}

.still-cut_thumb-slide_box {
	width: 160px;
	height: 500px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	overflow: overlay;
}

.view-card {
	width: 800px;
	height: 500px;
	border-radius: 15px;
	cursor: pointer;
}

.view-card img {
	width: 100%;
	height: 100%;
	border-radius: 15px;
}

.thumb-card {
	width: 160px;
	height: 100px;
	border-radius: 15px;
	cursor: pointer;
	background-color: #fff;
}

.thumb-card img {
	width: 100%;
	height: 100%;
	border-radius: 15px;
	opacity: 0.5;
}

.thumb-list-box .slick-list {
	height: 500px;
}

.slick-vertical .slick-slide {
	height: 100px;
	border: none;
}