main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1000px;
}

.container-head  {
    background-color: #5A4AE3;
    border-radius: 15px;
    color: white;
    height: 50px;
}

.container {
    width: 1000px;
    height: 800px;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 50px 1fr 80px;
    grid-gap: 20px;
}

.container-head{
    grid-column-start: 1;
    grid-column-end: 3;
}

.seats{
    background-color: #dfdcf9;
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.seats-box{
    border : 1px solid #5A4AE3;
    width: 600px;
    height: 550px;
    display: grid;
    grid-template-columns: repeat(12,auto);
}

.seats-seat{
    height: 30px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#5A4AE3;
}

.seats-info{
    background-color: #dfdcf9;
    border-radius: 15px;
    padding: 30px;
}

.seats-info div{
    color: #2f1ec2;
}

.seats-info_disabled{
    margin-bottom: 10px;
}

.seat-submit{
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: #2f1ec2;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.seat-submit_btn{
    border: none;
    background-color: inherit;
    width: 200px;
    height: 50px;
    color: white;
    font-size: 18px;
}